/* any copy pasted code is from my original projects on other sources that I've taken snippets of code from */

body {
    font-family: "Cantata One", serif;
    font-size: 13px;
    text-align: center;
    background-image: url("../img/3.png"), url("../img/woodgrain.jpg");
    background-blend-mode: color, overlay;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarot-container {
    max-width: 800px;
    margin:auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc {
    height: 300px;
    width: 350px;
    background: rgba(255, 207, 64, 0.8);
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
    text-align: justify;
}
.desc::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 1px; /* Rounded scrollbar */
}
.desc::-webkit-scrollbar {
    width: 10px; /* Fixed size scrollbar */
}
.desc::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}
.card {
    background-image: url("../img/3.png");  
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 5px;
    transition: transform 0.5s ease;
}
.card:hover {
    transform: rotateY(10deg);
}
button {
    background: #ffcf40;
    color: #000;
    border: none;
    padding: 10px;
    margin-top: -10px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #fcde85;
}
.footer-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    flex-direction: column;
}
.footer-section div, .class-box {
    background-color: #000000;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.footer-section div:hover {
    background-color: #292929;
}
.footer-section div a {
    color: #ffcf40;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
h1 {
    margin-top: 0;
    font-size: 2em;
    color: #ffcf40;
    background-color: #000000;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "DM Serif Text", serif;
}
h2 {
    font-size: 1.5em;
    color: #ffcf40;
    font-family: "DM Serif Text", serif;
}
h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #000000;
    background-color: #ffcf40;
    padding: 15px;
    font-family: "DM Serif Text", serif;
}
.info-icon {
    margin-top: 30px;
    background-color: #ffcf40;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}
.card:hover .info-icon {
    background-color: #f3d681;  
}
.info-icon[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #f3d681;
    color: #000;
    padding: 8px;
    border-radius: 5px;
    width: 200px; 
    text-align: center;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0; transform: translateY(-10px);
    }
    to {
        opacity: 1; transform: translateY(0);
    }
}
.info-area {
    background: #000;
    color: #ffcf40;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0 0 15px rgba(255, 207, 64, 0.5);
}

.info-area p::first-letter {
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Fleur De Leah", cursive;
    text-shadow: 0 0 10px rgba(255, 207, 64, 0.7);
    padding: 5px;
    padding-right: 10px;
}
#export-btn {
    background: #000000;
    color: #ffcf40;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
}

#export-btn:hover {
    background: #fcde85;
}
  /* Large Screens (Desktop) */
  @media (min-width: 1000px) {
    .tarot-container {
        padding: 40px;
    }
    .desc {
        height: 200px;
        width: 90%;
        max-width: 350px;
        margin-top: 10;
        text-align: justify;
    }
    .cards {
        flex-direction: row;
    }
    .card {
        width: 250px;
        height: 400px;
    }
    .footer-section {
        flex-direction: row;
        gap: 20px;
        justify-content: space-around;
    }
    .info-icon {
        margin-top: 10;
    }
  }