/* any copy pasted code is from my original projects on other sources that I've taken snippets of code from */

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #d6c89c;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarot-container {
    max-width: 800px;
    margin:auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc {
    height: 300px;
    width: 350px;
    background: #fff;
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
    text-align: justify;
}
.desc::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 1px; /* Rounded scrollbar */
}
.desc::-webkit-scrollbar {
    width: 10px; /* Fixed size scrollbar */
}
.desc::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}
.card {
    background-image: url("../img/3.png");  
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 5px;
    transition: transform 0.5s ease;
}
.card:hover {
    transform: rotateY(10deg);
}
button {
    background: #ffcf40;
    color: #000;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #fcde85;
}
.footer-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    flex-direction: column;
}
.footer-section div, .class-box {
    background-color: #000000;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.footer-section div:hover {
    background-color: #292929;
}
.footer-section div a {
    color: #ffcf40;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
h1 {
    margin-top: 0;
    font-size: 2em;
    color: #000000;
    text-transform: uppercase;
    font-family: "DM Serif Text", serif;
}
h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #ffcf40;
    font-family: "DM Serif Text", serif;
}
h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #000000;
    background-color: #ffcf40;
    padding: 15px;
    font-family: "DM Serif Text", serif;
}
.info-icon {
    margin-top: 10px;
    background-color: #222;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}
.card:hover .info-icon {
    background-color: #444;  
}
.info-icon[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    width: 200px; 
    text-align: center;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
  /* Large Screens (Desktop) */
  @media (min-width: 1000px) {
    .tarot-container {
        padding: 40px;
    }
    .desc {
        height: 150px;
        width: 100%;
        max-width: 350px;
        margin-top: 0;
        text-align: justify;
    }
    .cards {
        flex-direction: row;
    }
    .card {
        width: 250px;
        height: 350px;
    }
    .footer-section {
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-section div, .class-box {
        
    }
    .info-icon {
        margin-top: 0;
    }
  }