/* any copy pasted code is from my original projects on other sources that I've taken snippets of code from */

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #d7c5a5;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarot-container {
    max-width: 800px;
    margin:auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc {
    height: 300px;
    background: #fff;
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
    text-align: justify;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}
.card {
    background: #e6a5a5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 5px;
}
button {
    background: #222;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #444;
}
.footer-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    flex-direction: column;
}
.footer-section div, .class-box {
    background-color: #005f2f;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.footer-section div:hover {
    background-color: #007f4f;
}
.footer-section div a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
.section h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #b3e5d1;
}
.info-icon {
    margin-top: 10px;
    background-color: #222;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}
.card:hover .info-icon {
    background-color: #444;  
}
.info-icon[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    width: 200px; 
    text-align: center;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}